<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Express</title>
  <link rel="stylesheet" href="/stylesheets/main.css">
</head>

<body>
  <h1>Test</h1>
  <a id="registerUrl" href="https://www.cannondale.com/en-us/bike-registration/register">Product Registration</a>
  <!-- <script type="text/javascript" src="/javascripts/main.js"></script> -->
</body>

</html>
